.form-control {
  box-shadow: none;
}

.form-control:focus {
  margin-top: 15px !important;
  box-shadow: none !important;
}

input {
  margin-top: 15px !important;
}

.register-form {
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 50px;
}

.register-parent {
  height: 100vh;
  background-color: aliceblue;
}

.register-parent .row {
  height: 100vh;
  align-items: center;
}
